<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.compilationUnitResolver">
      <resolver
            class="org.eclipse.jdt.internal.javac.dom.JavacCompilationUnitResolver"
            id="org.eclipse.jdt.core.dom.JavacCompilationUnitResolver">
      </resolver>
   </extension>

</plugin>
